body{
    background-color: #ebd59b ;
}

p{
    text-align: justify;
    margin-left: 20px;
}

h1, h2 {
    font-weight: bold;
    color: #0a0550;
}

nav{
    background-color: rgb(10, 5, 80);
}

li.nav-item{
    margin-right: 20px;
}

p.card-text{
    text-align: center;
    font-size: larger;
}

#alap{
    background-color: white;
}

a {
    color: #8b0000;
    text-decoration: none;
}

a:hover {
    color: #8b0000;
}